/* Переваги */

.specifics {
  display: flex;
}

.specifics__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-backg-color);
}

.specifics__title {
  text-transform: uppercase;
  @include font(700, 14, 1.14);
  color: var(--primary-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.specifics__item + .specifics__item {
  margin-left: 30px;
}

.specifics__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
